:root{
    --dark: #212529;
    --light: #F8F9FA;

}
.header-page{
    grid-area: header;
    background-color: var(--dark);
    position: sticky;
    top: 0;
    z-index: 2;
    display: grid;
    grid-template-areas: 
    "left right";
    grid-template-columns: 3fr 1fr;

}
.header-page-left{
    grid-area: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-page-right{
    grid-area: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.header-page-right a{
    font-family: 'Montserrat', sans-serif;
    margin-right: 60px;
    padding: 10px;
    font-size: 30px;
    letter-spacing: 1px;
    color: var(--light);
}
.header-page-right a:link{
    text-decoration: none;
}
.header-page-right a:hover{
    background: rgba(167, 196, 223, 0.1);
}
#logo{
    width: 150px;
    height: 150px;
}
.slider{
    background-color: aqua;
    grid-area: slider;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}
.main-page{
    grid-area: main;
    background-color: wheat;
}
.footer-page{
    grid-area: footer;
    background-color: blue;
}
.content{
    display: grid;
    grid-template-areas: 
    "header header"
    "slider slider"
    "main main"
    "footer footer";
    grid-template-columns: 3fr 1fr;
}
body{
    margin: 0px;
}
.img_slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
}
.img_slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.img_slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 3s;
    transition-property: clip-path;
}
.img_slider .slide img{
    z-index: 1;
    width: 100%;
}
.img_slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
}
.img_slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}
.img_slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}
.img_slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.img_slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.img_slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}